@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

*{
    box-sizing: border-box;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Warna putih dengan transparansi */
    z-index: -1; /* Tempatkan di bawah elemen lain */
}

body {
    
    background-image: url("./graduation.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: -3rem; */
    position: relative; /* Tambahkan ini untuk posisi relatif */
}

h1{
    font-size: 4rem;
    font-weight: normal;
    margin-top: -8rem;
    margin-bottom: 0rem;
    text-align: center;
}

h2{
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 0rem;
    text-align: center;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
}

.big-text{
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem;
    font-weight: 100;
}